* { -webkit-box-sizing: border-box; box-sizing: border-box; }

*:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body { margin: 0; padding: 0; }

body { font-size: 16px; min-width: 550px; position: relative; line-height: 1; overflow-x: hidden; opacity: 1; }

a { text-decoration: none; }

h1 { margin: 0 0 27px 0; font-size: 2.5em; letter-spacing: 1px; color: #1d1d1d; text-align: left; font-family: "PlayfairDisplay-Black", sans-serif; }

h2 { margin: 0; text-align: center; font-family: "PlayfairDisplay-Bold", sans-serif; font-size: 1.7em; color: #1d1d1d; }

h3 { margin: 0; text-align: center; font-family: "Roboto-Black", sans-serif; font-size: 1em; -webkit-transition: 0.4s; -o-transition: 0.4s; transition: 0.4s; color: #1d1d1d; }

p { margin: 0; font-family: "Roboto-Light", sans-serif; font-size: 1em; letter-spacing: 1px; color: #8f8f8f; line-height: 1.7; }

.wrapper { margin: 0 auto; padding: 0 10px; }

.header { padding: 30px 0; margin: 0; }

.nav { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; padding: 0 40px; -webkit-align-content: center; -ms-flex-line-pack: center; align-content: center; border: 1px solid black; }

.nav__logo { padding-top: 10px; border: 1px solid blue; }

.nav .toggle__menu { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-flex-wrap: nowra; -ms-flex-wrap: nowra; flex-wrap: nowra; }

.nav .toggle__menu li { padding: 0 20px; }
